<div class="mypage">
 <h2>プロフィール編集</h2><br>
<%= form_with model:@user, local:true do |f| %>
 <h4>
 </h4>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像" %>
 <br><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザーネーム" %><br><br>
  <%= f.submit "変更を保存",class:"btn btn-success" %>
<% end %>
</div>

