<% @bbs_titles.each do |bbs_title| %>
 <p><%= bbs_title.user.name %>の投稿</p>
 <p> <%= attachment_image_tag bbs_title, :image %></p>
 <%= link_to bbs_title_path(bbs_title.id) do %>
  <p><%= bbs_title.title %></p>
 <% end %>
<% end %>