<h1>掲示板に投稿する！</h1>
<%= form_with model: @bbs_title, local:true do |f| %>
  <h4>イメージ画像</h4>
   <%= f.attachment_field :image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <%= f.submit '投稿' %>
<% end %>